.main {
}
.panel-left,
.panel-right {
  background-color: var(--panel-bg-color);
  position: relative;
  z-index: 1;
  flex: 12 1 0px;
  min-width: 260px;
  max-width: 320px;
}
.panel-center {
  background-color: transparent;
}
.panel-left {
}
.builder-container,
.builder-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.builder-panel {
  background-color: var(--panel-bg-color);
  width: 300px;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.builder-sidebar {
  left: 0;
}
.builder-menu {
  right: 0;
}

.builder-tools {
  position: fixed;
  bottom: 20px;
  left: 50%;
  height: 50px;
  border-radius: 15px;
  z-index: 10;
  background-color: #111;
  box-shadow: 0 10px 20px #0000001a;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  .tools-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    .tools-icon {
      display: flex;
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      color: #999999;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
      &.is-active {
        background-color: #333333;
        border-radius: 8px;
      }
    }

    &.zoom-dropdown-menu{
 
      .zoom-dropdown-menu-val{
        display: flex;
        justify-content: space-between;
        height: 30px;
        box-sizing: border-box;
        padding: 0 7px;
        border-radius: 8px;
        background-color: #f3f3f3;
        &:focus {
          box-shadow: none;
        }
        min-width: 65px;
      }
      
    
    }
  }
}

.zoom-dropdown-menu-item{
  display: flex;
  justify-content: space-between;
  width:100%;
}
.zoom-dropdown-menu-sel{
  border-radius: 10px;
  width:190px;
  background: var(--drop-menu-bg);
  .bg-muted{
   background-color: #eee;;
  }
  border:none;
  div[role="menuitem"]{
    border-radius: 6px;
    line-height: 14px;
    font-size:12px;
   &:hover{
    background-color: var(--drop-menu-item-hover)!important;
    cursor: pointer;
   }
  }
}

.dark{
  .zoom-dropdown-menu-sel{
    .bg-muted{
     background-color: #363636;
    }
  }
  .builder-tools {
 
    .tools-item {
      
  
      &.zoom-dropdown-menu{
   
        .zoom-dropdown-menu-val{
          background-color: #333;
          border:none;
   
          &:focus {
            box-shadow: none;
          }
        
        }
        
      
      }
    }
  }
  
  
}